<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>hello</h2>
    <h1>signup</h1>
    <form action="/user" method="post">
        <label>enter your name</label>
        <input type="text" name="name" placeholder="enter your name">  <br><br>
        <label>enter your eamil</label>
        <input type="email" name="email" placeholder="enter your email">  <br><br>
        <label>enter your password</label>
        <input type="password" name="password" placeholder="enter your password"> <br><br>
        <button type="submit">signup</button> 
    </form>
</body>
</html>